{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<h1>Search</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>


<h2>Results:</h2>
{% if context.blogs %}
    <h3>Blogs:</h3>
    <ul>
    {% for blog in context.blogs %}
        <li>
            <a href="{% url 'post-list' blog.user.username %}">{{ blog.title }}</a><br>
            {{ blog.description }}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if context.posts %}
    <h3>Posts:</h3>
    <ul>
    {% for post in context.posts %}
        <li>
            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a><br>
            {{ post.text }}<br>
            von <a href="{% url 'post-list' post.blog.user.username %}">{{ post.blog.user.username }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if context.quests %}
    <h3>Questions</h3>
    <ul>
    {% for quest in context.quests %}
        <li>
            {{ quest.text }}<br>
            <a href="{% url 'post-detail' quest.post.id %}">{{ quest.post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'blog-list' %}">zurück</a>
{% endblock %}